.modal-content{
    background: #fff;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1100;
    width: 200px;
}
.modal-btn{
    margin: 0 5px;
    border-top: 1px solid #dfdfdf;
    display: flex;
    justify-content:flex-end;
}
.modal-btn span{
    margin-left:5px;
    cursor: pointer;
}