.playing-list{
    position: absolute;

    width: 100%;
    height: 100%;
    z-index:1000;
    transition: all .3s;

    /*background-color: rgba(0,0,0,0.3);*/

}
.playing-list-wrap{
    position: absolute;
    width: 100%;
    top:30%;
    bottom: 0;
    background: #000;
    overflow: hidden;
    transition-duration: 300ms;
    /*padding-left: 20px;*/
    display: flex;
    flex-direction: column;
}
.playing-list-item.active .info{
    color: #31c27c;

    background: url("/asset/songListWave.gif") no-repeat right -5px;
    background-size: 40px 40px;
}
.playing-list-item{
    margin: 0 20px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(222,222,222,0.3);
}
.playing-list-item>p{
    flex:1

}
.playing-list-item .operation{
    display: flex;
    justify-content: center;
}
.playing-list-item .operation>span{
    margin-left: 10px;
}
.playing-list-item .info{
    flex: 3;
    padding-right: 40px;
}
.playing-list-item .song-title{
    font-size: 32px;
}
.playing-list-item .singer{
    font-size: 20px;
    margin:0;
}
.playing-list-header{
    padding: 30px 20px;
    border-bottom: 1px solid rgba(222,222,222,0.5);
    position: relative;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
}
.playing-list-content{
    flex:1;
    overflow: hidden;
}
.playing-list-wrap .btn-close{
    width: 100%;
    padding: 20px;
    text-align: center;
    border-top:  1px solid rgba(222,222,222,0.5);
}