.content.cd{
    position: absolute;

    width: 100%;
    background-color: rgb(26,42,55);
    flex-direction: column;
    /*display: flex;*/
    /*display: block;*/
    z-index: 200;
}
 header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;


}
 header p.ignore{
    max-width: 300px;
}
.back{
    background: url("./back.png") no-repeat center left;
    background-size: 45px;
    height: 45px;
}
header h2 span{
    flex:1;
}
header h2.ignore{
    margin: 0;
    height: 34px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content.cd .diss-item{
    display: flex;
    padding: 0 40px 60px;
}

.layer-wrap{
    background-color: rgb(26,42,55);
    height: 100%;
    width: 100%;
    position: relative;
    z-index:9;
    flex: 1;
}
.content.cd .list-wrap{

    position: absolute;

    flex: 1;
    width: 100%;
    /*overflow: hidden;*/
    /*height: 100%;*/
    padding-top: 40px;
    z-index: 10;

}
.content.cd .list-wrap.ignore{
    top:300px;
    bottom:60px;
}
.cd-intro .filter{
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.cd-intro.ignore{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}
.btn-play-all.ignore span{
    margin-left: 20px;
}
.btn-play-all.ignore{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    background: url("/asset/play-all.png") no-repeat 30px center;
    background-size: 24px;
    background-color: #31c27c;
    margin-bottom: 40px;

}
