
#root{
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  background: url("/asset/2.jpg") no-repeat;
  background-size: 100%;
  background-position: bottom;
}

#app{

  color: #fff;
  display: flex;
  flex-direction: column;

  height: 100%;
}
a{
  text-decoration: none;
  color: #fff;
}
a:visited{
  color: #fff;
}
.content{
  flex:1;
  display: flex;
  justify-content: center;
  font-size: 30px;
  height: 100%;
  align-items: center;

  box-sizing: border-box;
  background-color: rgba(255,255,255,0.08);
  z-index: 100;
}
.content.ignore{
  padding-bottom: 60px;
}
p{
  margin:0;
}
.text-overflow{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
.text-center{
  text-align: center;
}
.fl{
  float: left;
}
.content-wrap{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

}


/*路由切换动画——左移动*/
.left-enter {
  position: absolute;
  z-index: 10000;
  opacity: 1;
  transform: translateX(100%);
}

.left-enter.left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 400ms ease;
}

.left-leave {
  opacity: 1;
  z-index: 10000;
  transform: translateX(0);
}

.left-leave.left-leave-active {
  opacity: 1;
  transform: translateX(100%);
  transition: all 600ms;
}
/*按钮图标雪碧图*/
.ignore.bg-down {
  width: 32px; height: 32px;
  background: url('css_sprites.png') -190px -122px;
}

.ignore.bg-like_fill {
  width: 36px; height: 36px;
  background: url('css_sprites.png') -10px -72px;
}

.ignore.bg-like {
  width: 32px; height: 32px;
  background: url('css_sprites.png') -10px -184px;
}

.ignore.bg-list {
  width: 36px; height: 36px;
  background: url('css_sprites.png') -66px -72px;
}

.ignore.bg-loop {
  width: 36px; height: 36px;
  background: url('css_sprites.png') -134px -10px;
}

.ignore.bg-pause {
  width: 36px; height: 36px;
  background: url('css_sprites.png') -134px -66px;
}

.ignore.bg-pause-big{
  width: 42px; height: 42px;
  background: url('css_sprites.png') -10px -10px;
}

.ignore.bg-play {
  width: 36px; height: 36px;
  background: url('css_sprites.png') -10px -128px;
}

.ignore.bg-play-big {
  width: 42px; height: 42px;
  background: url('css_sprites.png') -72px -10px;
}

.ignore.bg-playNext {
  width: 36px; height: 36px;
  background: url('css_sprites.png') -66px -128px;
}

.ignore.bg-playPreview {
  width: 36px; height: 36px;
  background: url('css_sprites.png') -122px -128px;
}

.ignore.bg-random {
  width: 36px; height: 36px;
  background: url('css_sprites.png') -190px -10px;
}

.ignore.bg-recent {
  width: 32px; height: 32px;
  background: url('css_sprites.png') -62px -184px;
}

.ignore.bg-singleloop {
  width: 36px; height: 36px;
  background: url('css_sprites.png') -190px -66px;
}