.index-loading{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.index-loading p{
    color: #fff;
    margin-top: 10px;
}