.header{

    font-size: 36px;
    background-color: rgb(21,36,42);

    padding-bottom: 30px;
    z-index: 100;
}
.header .header-tabs {
    display: flex;

    justify-content: center;
}

.header .header-tabs span{
    margin: 15px;
}
.header .search{
    display: flex;
    justify-content: center;
}
.header .current{
    font-weight: bolder;
    font-size: 38px;
}