.slider{
    width: 100%;
    height: 100%;
    position: relative;

}
.slider ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    height: 100%;

}
.slider ul>li{
    transition: opacity .3s;
    float: left;
    height: 100%;
}
.slider .dots{
    position: absolute;
    bottom: 10%;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 10;
    transform:translateZ(0);
}
.slider .dots .dot{
    width: 16px;
    height: 16px;
    background-color: rgba(255,255,255,0.6);
    margin: 0 10px;
    border-radius: 10px;

}
.slider .dots .dot.active{
    width: 35px;
    background-color: rgba(255,255,255,1);
}
